.Details {
    background: fixed;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/abstract-blur-hospital-clinic-interior_74190-4854.jpg?w=1380&t=st=1666881630~exp=1666882230~hmac=a4f0c38d17c6434988da06d0f454dcd98e0471cebcd974d311f12abe0c297d45);
}