.instructor {
    background: fixed;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/empty-hospital-ward-designed-with-medical-equipment_482257-7609.jpg?w=1480&t=st=1666876804~exp=1666877404~hmac=96ca9a1f0b98b186eddd7c0c9266b5b20d7fb1a78844ff2e5b43389e1cf70397);
}