.back {
    background: fixed;
    background-size: cover;
    background-image: url(https://img.freepik.com/free-photo/dna-genetic-biotechnology-science-with-scientist-rsquo-s-hands-disruptive-technology-remix_53876-126745.jpg?w=1380&t=st=1666877924~exp=1666878524~hmac=592e6361cca403ed358c17651263bed3ff9db8b16bfd70dd3319b39ad26ff569);
}